* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {background-color: #c3c3c3;}

form {
  width: 22em;
  height: 80%;
  background-color: white;
  display: block;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5em;
}

h1 {
  text-align: center;
  padding-top: 2em;
  text-shadow: 2px 1px 5px #005885;
}

input {
  width: 99%;
  height: 85%;
  outline: none;
  border: 0px;
  border-bottom: 1px solid;
  font-weight: 600;
}

form p:nth-child(2) {
  width: 75%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

form p:nth-child(3) {
  width: 75%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

form p:nth-child(4) {
  width: 74%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
}

form p:nth-child(4) input:only-of-type {
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background: radial-gradient(circle farthest-corner at 20px 50px, #00dcff, #a500ff);
  color: white;
  transition: all 0.5s;
}

form p:nth-child(4) input:only-of-type:hover {
  background: radial-gradient(circle farthest-corner at 20px 50px, #00dcff, #a500ff);
  transform: scale(1.1);
}

ul {
  margin-left: 12.5%;
  display: inline-block;
  margin-top: 7em;
  font-size: 13px;
  padding-bottom: 2em;
}

ul li {display: inline-block;}
